.artist-card, .album-card, .album-card img, .artist-card img {
    height: auto;
    aspect-ratio: 1/1;
 }

.artists, .content-cover {
    padding: 7px; 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    mask-image: linear-gradient(to left, transparent, #282948 5% ); 
}

.artists {
    display: flex;
}

.artist-card, .album-card {
    flex: 0 0 auto;
    width: 30%;
    text-align: center;
    scroll-snap-align: start;
}


.artist-card:hover, .album-card:hover {
    transform: scale(1.05);
}

.artist-card img:hover, .album-card img:hover {
    filter: brightness(60%);
    opacity: 0.9;
}

.album-card img, .artist-card img {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--transparent-accent);
}

.album-card img { 
    border-radius: 30px;
}    

.artist-card img {
    width: 80%;
}

.album-card img {
    width: 90%;
}

.album-card p,  .artist-card p{
    margin-top: 2vh;
    font-size: 16px;
}

.title {  /* to make it centered */
    margin-top: 2vh;
}

.artists::-webkit-scrollbar, .content-cover::-webkit-scrollbar {
    display: none;
}

